// MIXINS
@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin customScrollbar {
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: $blush;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-blue;
  }
}