// COLORS
$blush: #f7ecea;
$pink: #ffd4d4;
$white: #fffbf7;
$blue: #40547c;
$dark-blue: #001b3e;
$black: #111111;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
$wedding-font: 'Pinyon Script', cursive;
$content-font: 'The Seasons';