/* ACTION BUTTONS */

.actionButton {
  @include flex(column, auto, flex-end);
  padding: 0px;
  background-color: transparent;
  border: none;
}

.actionButtonText {
  transition: all 0.3s ease;
}

.actionButtonClicked {
  color: $dark-blue;
  border-bottom: 2px solid $blue;
}
