/* NAVBAR */

.navbar {
  @include flex(column, auto, center);
  position: relative;
  width: 100vw;
  font-family: $content-font;
  transition: all 0.5s ease;
  z-index: 0;
}

.navbarContent {
  @include flex(row, flex-start, flex-start);
}

.navBarInfo {
  font-size: 1.5em;
}

.navbarName {
  margin-bottom: -20px;
  font-family: $wedding-font;
  color: $blue;
  font-size: 5em;
  font-weight: 500;
  transition: all 0.5s ease;
}

.smallerFont {
  font-size: 4rem;
}

.leftFlower {
  width: 500px;
  position: absolute;
  top: -200px;
  left: -100px;
  transform: rotate(135deg) scaleX(-1);
  border-radius: 50px;
  z-index: 0;
}

.rightFlower {
  width: 500px;
  position: absolute;
  top: -220px;
  right: -100px;
  transform: rotate(225deg) scaleX(-1);
  border-radius: 50px;
  z-index: 0;
}

@media (max-width: 1550px) {
  .leftFlower, .rightFlower {
    opacity: 0.3;
  }
}

.navButtons {
  @include flex(row, center, center);
  gap: 40px;
  margin-top: 10px;
  padding: 5px 20px;
  border-top: 2px solid $blue;
}

.mobileMenuButtonContainer {
  @include flex(column, center, center);

  height: 100%;
  margin-right: 20px;
}

.mobileMenuButton {
  color: $blue;
  font-size: 2.25em;
  background: none;
  border: none;
}

.mobileMenu {
  @include flex(column, center, center);  
  align-self: flex-end;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.5s linear, background-color 0.5s linear;
}

.mobileMenuOpen {
  pointer-events: auto;
  background-color: $dark-blue;
  opacity: 1;
  z-index: 2;
}

.mobileMenuExitButton {
  align-self: center;

  background: none;
  border: none;
  border-radius: 3px;
  color: $white;
  font-size: 3em;
  line-height: .5;
}

.menuOpenedNameChange {
  color: $pink;
}

@media (max-width: 750px) {
  .navbar {
    margin-top: 20px;
  }
  .mobileMenu {
    width: 100vw;
  }
  .navbarContent {
    width: 100vw;
    justify-content: space-between;
    z-index: 3;
  }
  .navButtons {
    @include flex(column, center, center);
    gap: 20px;
    color: $white;
    border-top: none;
  }
  .navbarName {
    margin-top: 4px;
    margin-left: 20px;
    font-size: 2em;
    font-weight: 700;
  }
  .smallerFont {
    font-size: 0.66em;
  }
  .leftFlower {
    top: 150px;
    left: 0;
    width: 100vw;
    transform: rotate(360deg);
    z-index: -1;
  }
  .rightFlower {
    display: none;
  }
}

