/* NAVBAR */

.navbar {
  @include flex(column, auto, center);
  position: relative;
  width: 100vw;
  font-family: $content-font;
  transition: all 0.5s ease;
  z-index: 0;
}

.navbarContent {
  @include flex(row, flex-start, flex-start);
}

.navbarName {
  margin-bottom: -20px;
  font-family: $wedding-font;
  color: $blue;
  font-size: 5em;
  font-weight: 500;
  transition: all 0.5s ease;
}

.navBarInfo {
  font-size: 1.5em;
}

.navButtons {
  @include flex(row, center, center);
  gap: 40px;
  margin-top: 10px;
  padding: 5px 20px;
  border-top: 2px solid $blue;
}

.smallerFont {
  font-size: 4rem;
}

@media (max-width: 750px) {
  .navbar {
    @include flex(column, auto, center);

  }
  .mobileMenu {
    width: 100vw;
  }
  .navbarContent {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .navButtons {
    @include flex(column, center, center);
    gap: 20px;
    border-top: none;
  }
  .navbarName {
    flex: 1;
    padding: 20px;
    font-size: 2em;
    font-weight: 700;
    white-space: nowrap;
    text-align: start;
  }
  .smallerFont {
    font-size: 0.66em;
  }
  .mobileMenuButtonContainer {
    @include flex(column, center, center);
    height: 100%;
    margin-top: 10px;
    padding-right: 20px;
  }
  .mobileMenuButton {
    color: $blue;
    font-size: 2.25em;
    background: none;
    border: none;
    line-height: 1.3;
  }
  .mobileMenu {
    @include flex(column, center, center);  
    align-self: flex-end;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.5s linear, background-color 0.5s linear;
  }
  .mobileMenuOpen {
    pointer-events: auto;
    background-color: $blush;
    opacity: 0.95;
    z-index: 2;
  }
  .mobileMenuExitButton {
    align-self: center;
    background: none;
    border: none;
    border-radius: 3px;
    color: $blue;
    font-size: 3em;
    line-height: .5;
  }
}

