.faqStacks {
  @include flex(row, center, flex-start);
  gap: 30px;
  margin-bottom: 25px;
}

.faqStack {
  @include flex(column, auto, flex-start);
  gap: 15px;
  width: 30%;
  padding: 10px;
  text-align: start;
}

.faqCard {
  @include flex(column, auto, flex-start);
  width: 100%;
  padding: 10px;
  background-color: $white;
  border: 1px solid $blue;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.faqRSVP {
  margin: 0px;
  white-space: nowrap;
  font-size: 1em;
  padding: 4px;
}