.faqStacks {
  @include flex(row, center, flex-start);
  gap: 30px;
  margin-bottom: 25px;
}

.faqStack {
  @include flex(column, auto, flex-start);
  gap: 15px;
  width: 30%;
  padding: 10px;
  text-align: start;
}

.faqCard {
  @include flex(column, auto, flex-start);
  width: 100%;
  padding: 10px;
  background-color: $white;
  border: 1px solid $blue;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.faqRSVP {
  font-size: 1em;
  color: blue;
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media (max-width: 750px) {

  .faqStack {
    @include flex(column, center, center);
    width: 80%;
  }
}
