/* HOME PAGE */

.homeContent {
  @include flex(column, center, center);
  position: relative;
  gap: 20px;
  margin-top: 25px;
  letter-spacing: 0.05em;
  animation: fadeIn .5s ease-in-out;
  z-index: 1;
}

.homeImg {
  width: 900px;
  height: auto;
  border-radius: 10px;
}

.marriedText {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);

  font-family: $wedding-font;
  color: $white;
  font-size: 4em;
  border-radius: 3px;
  white-space: nowrap;
}

.rsvpButton {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  padding-top: 13px;
  border: none;
  border-radius: 3px;
  color: $white;
  font-family: $content-font;
  font-size: 1.5em;
  background: linear-gradient(45deg, #F9F295, #E0AA3E, #E0AA3E, #B88A44);
  animation: pulse 2s infinite;
}

.rsvpButton:hover {
  scale: 1.1;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
