/* HOME PAGE */

.homeContent {
  @include flex(column, center, center);
  gap: 20px;
  padding-top: 25px;
  letter-spacing: 0.05em;
  animation: fadeIn .5s ease-in-out;
}

.homeContent > h2 {
  font-size: 2em;
  font-weight: 500;
}

.homeImg {
  width: 900px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 1350px) {
  h1 {
    font-size: 3em;
  }
  .homeContent > h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 750px) {
  h1 {
    line-height: 100%;
  }
  .homeContent > p {
    margin-top: 0px;
    font-size: 0.6em;
  }
}

@media (max-width: 750px) and (orientation: landscape) {
  .homeContent {
    margin-top: 100px;
  }
}

@media (max-width: 750px) and (orientation: portrait) {
  .homeContent {
    justify-content: flex-end;
    height: 86%;
  } 
}

@media (max-width: 380px) and (orientation: portrait) {
  .homeContent {
    height: 20%;
    margin-top: 40%;
  }
}
