.ourStoryContent {
  @include flex(column, center, center);
  width: 700px;
  margin-top: 50px;
  background-image: url('/src/assets/ourStoryFlowers4.jpg');
  background-repeat: no-repeat;
}

.entries {
  margin-top: -45px;
}

.ourStoryEntry {
  @include flex(row, center, center);
  height: 400px;
}

.ourStoryImg {
  width: auto;
  height: 390px;
  border-radius: 1vh;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border: 1px solid $blue;
  border-right: none;
}

.detail {
  width: 250px;
  height: 380px;
  padding: 5px 10px;
  text-align: left;
  background-color: $white;
  border-radius: 1vh;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border: 1px solid $blue;
  border-left: none;
}

@media (max-width: 750px) {
  .ourStoryContent {
    width: 100vw;
    background-image: none;
  }
  .entries {
    width: 100%;
  }
  .ourStoryEntry {
    @include flex(column, center, center);
    height: 650px;
    width: 100%;
  }
  .ourStoryImg {
    border: 1px solid $blue;
    border-radius: 1vh;
  }
  .detail {
    width: 80%;
    height: auto;
    margin-top: -50px;
    border: 1px solid $blue;
    border-radius: 1vh;
  }
}
