/* GENERAL TAG STYLES */

#root {
  @include flex(column, auto, center);
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 1.5;
  color: $blue;
  font-family: $content-font;
  font-size: 18px;
  font-weight: 400;
  background-color: $blush;
  overflow-x: hidden;
}

h1 {
  font-size: 5.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: inherit;
}

h3 {
  font-size: 1.33em;
  font-weight: inherit;
}

h4 {
  font-size: 1.1em;
  font-weight: 500;
}

h6 {
  font-size: 0.66em;
}

body, h1, h2, h3, h4, h6, p {
  margin: 0px;
}

a {
  color: $blue;
  font-family: $content-font;
  font-size: 1.1em;
  text-decoration: none;
  text-wrap: none;
  transition: all 0.3s ease;
}

.pageContent {
  @include flex(column, center, center);
  width: 100%;
  padding-bottom: 20px;
  animation: fadeIn .5s ease-in-out;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sectionHeader {
  width: 90%;
  padding: 20px 0px;
  font-size: 40px;
  white-space: nowrap;
}